<!DOCTYPE html>
<html lang="en">
{%  from "macro.html" import main_menu %}
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link type="text/css" href="/static/main_style.css" rel="stylesheet">
</head>
<body>
    <div class="main_content">
        {{ main_menu() }}
        <div class="content">
        <h1>500 - Internal error</h1>
            <h3>Well this isn't meant to happen!</h3>
            <p>Looks like something has gone wrong with the app. This can happen if someone else
                is making changes to the same thing you're working on. </p>
            <p>Try going back to the home page (Home in the menu)
            and trying again.</p>
            <p>If you keep seeing this page please email me at tom.wells96@gmail.com with a description
            of the problem</p>
        </div>

    </div>
</body>
</html>